<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>lenny</string>
		<key>text</key>
		<string>(͡° ͜ʖ ͡°)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wave</string>
		<key>text</key>
		<string>⊂(◉‿◉)つ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>shame</string>
		<key>text</key>
		<string>(；一_一)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hug</string>
		<key>text</key>
		<string>(づ｡◕‿‿◕｡)づ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>disapprove</string>
		<key>text</key>
		<string>ಠ_ಠ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>surprised</string>
		<key>text</key>
		<string>( ﾟoﾟ)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gasp</string>
		<key>text</key>
		<string>⊙▂⊙</string>
	</dict>
	<dict>
		<key>name</key>
		<string>idk</string>
		<key>text</key>
		<string>¯\_(ツ)_/¯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>throwingtable</string>
		<key>text</key>
		<string>(╯°□°）╯︵ ┻━┻</string>
	</dict>
	<dict>
		<key>name</key>
		<string>replacingtable</string>
		<key>text</key>
		<string>┬──┬ ノ( ゜-゜ノ)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dead</string>
		<key>text</key>
		<string>✖_✖</string>
	</dict>
	<dict>
		<key>name</key>
		<string>csi1</string>
		<key>text</key>
		<string>•_•)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>csi2</string>
		<key>text</key>
		<string>( •_•)&gt;⌐■-■</string>
	</dict>
	<dict>
		<key>name</key>
		<string>csi3</string>
		<key>text</key>
		<string>(⌐■_■)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rage</string>
		<key>text</key>
		<string>ಠ益ಠ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sad</string>
		<key>text</key>
		<string>ಠ╭╮ಠ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>embarrassed</string>
		<key>text</key>
		<string>⊙﹏⊙</string>
	</dict>
	<dict>
		<key>name</key>
		<string>crying</string>
		<key>text</key>
		<string>ಢ_ಢ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>blush</string>
		<key>text</key>
		<string>(｡･_･｡)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ballin</string>
		<key>text</key>
		<string>ヘ(◕。◕ヘ)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>stare</string>
		<key>text</key>
		<string>๏_๏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>celebrate</string>
		<key>text</key>
		<string>\( ﾟ◡ﾟ)/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>icwutudidthere</string>
		<key>text</key>
		<string>≖_≖</string>
	</dict>
	<dict>
		<key>name</key>
		<string>idfwu</string>
		<key>text</key>
		<string>┌∩┐(&gt;_&lt;)┌∩┐</string>
	</dict>
	<dict>
		<key>name</key>
		<string>glare</string>
		<key>text</key>
		<string>¬_¬</string>
	</dict>
	<dict>
		<key>name</key>
		<string>trill</string>
		<key>text</key>
		<string>❐‿❑</string>
	</dict>
</array>
</plist>
